@page
@model KronisHueWeb.Pages.AuthModel
@{
    ViewData["Title"] = "Auth";
}

@section Scripts
{
    <script src="~/js/auth.js" asp-append-version="true"></script>
}

<h1>Auth</h1>

<a id="authlink" href="">Auth hue</a>


