@page
@model KronisHueWeb.Pages.AuthGrantedModel
@{
    ViewData["Title"] = "AuthGranted";
}
@section Scripts
{
    <script src="~/js/authgranted.js" type="module"></script>
}

<h1>AuthGranted</h1>
<div id="result" type="text"/>

