@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts
{
<script src="~/js/index.js" type="module" asp-append-version="true"></script>

<script id="groupTemplate" type="text/x-handlebars-template">
    <div class="accordion" id="accordionExample">
        {{#each this}}
        <div class="card">
            <div class="card-header" id="headingOne">
                <button class="btn btn-info same-width-1" type="button" data-toggle="collapse" data-target="#collapse{{ group.id }}" aria-expanded="false" aria-controls="collapse{{ group.id }}">
                    {{ group.name }}
                </button>
                <div class="material-switch pull-right float-right">
                    <input class="groupswitch" id="groupSwitch{{ group.id }}" data-id="{{ group.id }}" {{#if group.action.on}} checked{{/if}} type="checkbox" />
                    <label for="groupSwitch{{ group.id }}" class="label-default"></label>
                </div>
            </div>

            <div id="collapse{{ group.id }}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card-columns">
                        {{#each lights}}
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                                {{ name }}
                            </div>
                            <div class="card-body">
                                <label for="lightSwitch{{ id }}">On</label>
                                <div class="material-switch pull-right">
                                    <input class="lightswitch" id="lightSwitch{{ id }}" data-id="{{ id }}" {{#if state.on}} checked{{/if}} type="checkbox" />
                                    <label for="lightSwitch{{ id }}" class="label-default"></label>
                                </div>
                                <label for="lightHue{{ id }}">Hue</label>
                                <input type="range" class="custom-range lighthue" min="0" max="65535" id="lightHue{{ group.id }}" data-id="{{ id }}" value="{{state.hue}}">
                                <label for="lightSat{{ id }}">Saturation</label>
                                <input type="range" class="custom-range lightsat" min="0" max="255" id="lightSat{{ group.id }}" data-id="{{ id }}" value="{{state.sat}}">
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</script>
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to KronisHue</h1>
    <p>The best way to slå på lyset. Soon&trade;.</p>
    <button type="button" class="btn btn-primary" id="refreshButton">Refresh state</button>
</div>

<div id="lightgroups">
</div>
