@page
@model KronisHueWeb.Pages.AuthModel
@{
    ViewData["Title"] = "Settings";
}

@section Scripts
{
    <script src="~/js/settings.js" type="module"></script>
}

<h1>Settings</h1>


<label for="codeLabel">Authenticate site for hue</label>
<div class="input-group mb-3">
    <input id="codeLabel" type="text" class="form-control">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="authButton">Visit hue to authenticate</button>
    </div>
</div>

<label for="nonceLabel">Nonce</label>
<div class="input-group mb-3">
    <input id="nonceLabel" type="text" class="form-control">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="nonceButton">Get nonce</button>
    </div>
</div>

<label for="accessToken">Access token</label>
<div class="input-group mb-3">
    <input id="accessToken" type="text" class="form-control">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="tokenButton">Get token</button>
    </div>
</div>

<label for="accessTokenExpires">Access token expires</label>
<div class="input-group mb-3">
    <input id="accessTokenExpires" type="text" class="form-control">
</div>

<label for="rWefreshToken">Refresh token</label>
<div class="input-group mb-3">
    <input id="refreshToken" type="text" class="form-control">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="refreshTokenButton">Refresh token</button>
    </div>
</div>

<label for="refreshTokenExpires">Refresh token expires</label>
<div class="input-group mb-3">
    <input id="refreshTokenExpires" type="text" class="form-control">
</div>

<label for="username">Username</label>
<div class="input-group mb-3">
    <input id="username" type="text" class="form-control">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="usernameButton">Get username</button>
    </div>
</div>