@page
@model KronisHueWeb.Pages.AuthModel
@{
    ViewData["Title"] = "Settings";
}

@section Scripts
{
    <script src="~/js/settings.js" asp-append-version="true"></script>
}

<h1>Settings</h1>

<a id="authlink" href="">Auth hue</a>


